/server/*
/frontend/target/*
/test-client/target/*
/canvas/target/*
/.idea/*
/frontend/dist/*
/canvas/dist/*
/server/Cargo.lock
/frontend/Cargo.lock
/test-client/Cargo.lock
/canvas/Cargo.lock
/server/target/
/canvas/node_modules/
/frontend/node_modules/
/target/
/target/debug/*
